.textBoxBody {
    max-width: 369px;
    height: 62px;
    background-color: #d8e0fe;
    color: #3d64ff;
    border: none;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    padding: 8px;
  }
