.loginComponentContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:24px;
    max-width: 369px;
    min-width: 322px;
    width: 100%;
    flex-wrap: wrap;
}

.loginComponentBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    min-width: 322px;
    max-width: 369px;
    width: 100%;
}

.loginComponentTitle {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #2a226d;
    margin: 0;
}

.passwordContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
    width: 100%;
}

.forgotPassword {
    font-size: 13px;
    color: #3D64FF;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.orText {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #2a226d;
    margin: 0;
}